/* Start general config. */
* {
  font-family: "lato";
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --darkBackground: #7a23d4;
  --hellkBackground: #fd066d;
  --darkGray: #3d3939;
  --hellGray: #c9c2c2;
  --black: #000000;
  --white:#ffffff;
  --radius:7VH;
  --title:7VH;
  --subTitle:5VH;
  --arrowheight:30VH ;
}

/* END general config. */
/* Start  Header & Nav*/
header {
  background-color: var(--black);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Start  Nav desktop*/
.NavDesktop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70VW;
}

/* End  Nav desktop*/
#dropdown {
  display: none;
  justify-content: center;
  align-items: center;
  grid-area: a3;
  height: 80%;
  width: 80%;
  margin: 10%;
}

/* Dropdown Button */
.dropbtnStyle{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--hellGray);
  height: 100%;
  width: 100%;
  font-size: 32px;
  border: none;
}


/* Dropdown button on hover & focus */
.dropbtnStyle:hover, .dropbtnStyle:focus {
  background-color: var(--hellGray);
  color: var(--darkGray);
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 1px;
  top: 10VH;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  width: 94%;
  padding: 12px 0px 12px 5%;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* start LOGO SETTINGS (responsive) */
.headerBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: a2;
}

#Logo {
  height: 60%;
  width: auto;
}

/* End LOGO SETTINGS (responsive) */
/* End  Header & Nav*/
/* Start main section */
main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 70VH;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: var(--title);
}

h2 {
  font-size: var(--subTitle);
}

.box__p {
  width: 40%;
  margin: 2%;
}

/* start config Form */
.form__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--black);
  height: 60VH;
  width: 90vw;
  border-radius: var(--radius);
  margin: 10VH;
}

.form__box h2 {
  color: var(--white);
  font-size: var(--title);
  margin: 10%;
}

.form__box i {
  color: var(--white);
  font-size: var(--title);
}

.form__background {
  height: 120%;
  min-height: 60vh;
  width: 40%;
  border-radius: var(--radius);
  background-image: linear-gradient(120deg, var(--hellkBackground), var(--darkBackground));
  position: relative;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 80%;
}

input {
  width: 100%;
  margin-top: 3%;
  padding-top: 3%;
  border-radius: 5px;
}

label {
  color: var(--black);
  font-weight: 900;
}

::placeholder {
  color: var(--darkBackground);
  opacity: 0.8;
}

#form__submitbtn {
  width: 100%;
  max-height: 15%;
}

input[type=submit] {
  color: var(--darkBackground);
  font-weight: 900;
}

input[placeholder] {
  color: var(--darkBackground);
}

/* ends config Form */
/* start config imgs of subpages */
.arrow {
  height: var(--arrowheight);
}

.mac {
  width: 70%;
}

.CEO__img {
  width: 20%;
  border-radius: 50%;
}

iframe {
  height: 50%;
  width: 70%;
  min-height: 30VH;
  filter: grayscale(75%);
}

/* end config imgs of subpages */
/* Start BUTTON STYLE */
article {
  width: 100VW;
  height: 10%;
  display: flex;
  align-items: top;
  justify-content: center;
}

.buttonBox {
  height: 80%;
  width: 80%;
  border-radius: 20px;
  background-image: linear-gradient(to right, var(--hellkBackground), var(--darkBackground));
  border: 2px solid var(--darkGray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonBox--gray {
  background-image: linear-gradient(to right, var(--hellGray), var(--darkGray));
}

a {
  text-decoration: none;
  color: var(--hellGray);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonBox:hover {
  opacity: 0.9;
  border: 2px solid var(--darkGray);
}

a:hover {
  color: var(--darkGray);
}

/* End BUTTON STYLE */
/* Start Footer */
footer {
  background-color: var(--black);
  padding: 2vh 5vw 2vh 5vw;
  width: 90vw;
  height: 26vh;
}

#footerGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 10% 40%;
  column-gap: 5%;
  row-gap: 2%;
  grid-template-areas: "a0 a1 a2" "b0 b1 b2" "c0 c1 c2";
}

.footer__img {
  width: 80%;
  grid-area: a1;
  max-width: 500px;
  align-self: center;
  justify-self: center;
}

.footer__p {
  grid-area: b1;
  color: var(--white);
  align-self: center;
  justify-self: center;
}

.Div1 {
  grid-area: c0;
  align-self: center;
  justify-self: center;
}

.Div2 {
  grid-area: c1;
  align-self: center;
  justify-self: center;
}

.Div3 {
  grid-area: c2;
  align-self: center;
  justify-self: center;
}

.FaIcons {
  font-size: 32px;
  padding: 0px 5% 0px 5%;
}

/* End Footer */

@media only screen and (max-width: 630px) {
  :root {
    --title:4VH;
    --subTitle:2.5VH;
    --arrowheight:12.5VH ;
  }

  header {
    background-color: var(--black);
    width: 100vw;
    height: 10vh;
    display: flex;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "a1 a2 a3";
  }
  .contactInfo {
    display: none;
  }
  #DesktopSection {
    display: none;
  }
  #ResponsiveSection {
    height: 50%;
  }
  .NavBoxDesktop {
    display: none;
  }
  #dropdown {
    display: block;
  }
  .form__box {
    flex-direction: column;
    margin: 5%;
    min-height: 70VH;
  }
  .form__background {
    width: 80%;
    position: static;
  }
  .form__box i {
    display: none;
  }
  .form__box h2 {
    margin: 1%;
    text-align: center;
  }
  footer {
    height: 15VH;
  }
}

/*# sourceMappingURL=styles.css.map */
